.mySlides {
    width:100%;
    border-radius: 1em;
}
body {
    background: #1fc8db;
}
h1 {
    font-family: cursive;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto; 
}
h2{
    font-family: cursive;
    text-align: center;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-family: unset;
    text-align: center;
    font-size: 1.1em;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
}
a {
   font-family: unset;
    text-align: center;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto; 
}
